<div class="w-full h-screen flex bg-intro">
  <div class="hidden lg:block w-6 relative bg-white">
    <div class="absolute top-0 bottom-0 right-0 left-0 flex flex-column justify-content-center">
      <div class="py-3 bg-black-alpha-50">
        <p class="text-6xl font-bold text-center text-white">{{branchName}}</p>
        <p class="text-center mt-5 text-xl text-white">“{{text}}”</p>
        <p class="text-center mt-3 text-xl text-white">-- {{author}} --</p>
      </div>
    </div>
    <div class="h-full align-items-center flex">
      <img src="assets/images/bg-intro-gom.jpg" alt="" class="bg-contain h-fit" style="width: -webkit-fill-available;">
    </div>
  </div>
  <div class="lg:w-6 flex justify-content-center child-component m-auto">
    <router-outlet></router-outlet>
  </div>
</div>
